:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 87 85 90;
  --oui-color-primary-light: 128 125 130;
  --oui-color-primary-darken: 58 56 61;

  --oui-color-link: 87 85 90;
  --oui-color-link-light: 128 125 130;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 64 224 208;
  --oui-color-danger-light: 128 240 224;
  --oui-color-danger-darken: 0 192 176;
  --oui-color-danger-contrast: 0 0 0;

  --oui-color-success: 33 66 55;
  --oui-color-success-light: 85 128 101;
  --oui-color-success-darken: 0 96 80;
  --oui-color-success-contrast: 0 0 0;

  --oui-color-warning: 107 142 35;
  --oui-color-warning-light: 166 191 88;
  --oui-color-warning-darken: 64 112 24;
  --oui-color-warning-contrast: 0 0 0;

  --oui-color-fill: 40 40 40;
  --oui-color-fill-active: 45 45 45;

  --oui-color-base-1: 64 64 64;
  --oui-color-base-2: 56 56 56;
  --oui-color-base-3: 48 48 48;
  --oui-color-base-4: 44 44 44;
  --oui-color-base-5: 40 40 40;
  --oui-color-base-6: 36 36 36;
  --oui-color-base-7: 32 96 140;
  --oui-color-base-8: 28 28 28;
  --oui-color-base-9: 24 24 24;
  --oui-color-base-10: 16 16 16;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 176 28 37;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 23 114 69;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 64 64 64;
  --oui-gradient-primary-end: 40 40 40;

  --oui-gradient-secondary-start: 128 64 96;
  --oui-gradient-secondary-end: 192 128 160;

  --oui-gradient-success-start: 16 80 64;
  --oui-gradient-success-end: 33 66 55;

  --oui-gradient-danger-start: 96 32 64;
  --oui-gradient-danger-end: 176 28 37;

  --oui-gradient-brand-start: 255 140 0;
  --oui-gradient-brand-end: 165 42 42;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 128 96 32;
  --oui-gradient-warning-end: 255 180 0;

  --oui-gradient-neutral-start: 32 32 32;
  --oui-gradient-neutral-end: 40 40 40;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}